* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fab1a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 48px;
    background-color: white;
    border-radius: 4px;
    min-width: 360px;
    width: 90%;
    max-width: 600px;
}

input,
select {
    padding: 4px;
}

input[type="text"],
input[type="number"],
select {
    margin-top: 4px;
}

label ~ label {
    margin-top: 16px;
}

.sex-input {
    margin-top: 16px;
}

h2 {
    margin-bottom: 24px;
}

button {
    background-color: #a29bfe;
    padding: 16px;
    border-radius: 30px;
    color: white;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #6c5ce7;
}
